<div class="">
  <h1>Zoom: {{ controls.zoom }}</h1>
</div>
<button (click)="increaseZoom()">+</button>
<br />
<button (click)="decreaseZoom()">-</button>
<br />
<input type="text" [(ngModel)]="controls.center.lat" />
<br />
<input type="text" [(ngModel)]="controls.center.lng" />
<br />
<button (click)="updateCenter(controls.center.lat, controls.center.lng)">
  √
</button>

<br />
<hr />
<br />
<div
  style="
    display: flex;
    justify-content: space-around;
    max-width: 300px;
    overflow: auto;
  "
>
  <button
    *ngFor="let city of sidebarService.cities$ | async"
    (click)="flyToCity(city)"
  >
    {{ city.hebName }}

    {{ city.boundingBox }}
  </button>
</div>
